body {
  background: #fff;
  text-align: center;
}
.paragraph{
  background:#cfe;
  width:50%;
  height:50%;
}
h1 {
  flex:0;
  color: grey;
  background:#cfcfcf;
}
h2{
  flex:2;
  color: grey;
  background:#cfcfcf;
}
.gridfish{
    width:400px;
    height:500px;
  
}
#square {
  background:#cfecfe; 
  width:100%;
  height:100%;
}