body {
  background: #fff;
  text-align: center;
}
.paragraph{
  background:#cfe;
  width:50%;
  height:50%;
}
h1 {
  flex:0;
  color: grey;
  background:#cfcfcf;
}
h2{
  flex:2;
  color: grey;
  background:#cfcfcf;
}
.gridfish{
  background:teal;
    width:100%;
  height:100%;
  
}
.row{
  background:purple;
    width:3em;
  height:3em;
}
.col-sm{
  background:teal ;
  width:3em;
  height:3em;
}